* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
 
.navbar .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.navbar .left .logo {
    display: flex;
}

.navbar .nav-elements a {
    text-decoration: none;
}

.nav-elements {
    display: flex;
    gap: 30px;
    list-style: none;   
}

.theme-btn {
    background-color: hsl(180, 66%, 49%);
    border-radius: 40px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

.navbar .logo img {
    width: 80px;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    padding-left: 100px;
    padding-right: 50px;
}

.hero .left .text h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}

.hero .left .text p {
    color: hsl(257, 7%, 63%);
}

.hero .right {
    width: 50%;
}

.hero .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    width:   80%;
    padding: 20px;
    margin-left: 85px;
    border-radius: 30px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(255, 11%, 22%);
    background-image: url("images/bg-boost-desktop.svg")
}

.main input {
    width: 35rem;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    
}
.statistics p {
    text-align: center;
}
.card {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 30px;
    padding-right: 50px;
    position: relative;
}

.card-text {
    background-color: lightpink;
    padding: 40px;

}
.ca img {
    background: hsl(257, 27%, 26%);
    border-radius: 50px;
    padding: 8px;
}

.cb {
    margin-top: 80px;
}
.cb img {
    background: hsl(257, 27%, 26%);
    border-radius: 50px;
    padding: 8px;
}
.cc {
    margin-top: 180px;
}
.cc img {
    background: hsl(257, 27%, 26%);
    border-radius: 50px;
    padding: 8px;
}

.card .card-text img {
    position: absolute;
    margin-bottom: 50px;
    margin-left: -15px;
    margin-top: -66px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.theme-btn {
    margin-top: 20px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    gap: 90px;
    color: #fff;
    padding: 50px;
    margin-top: 35px;
    background-color:hsl(260, 8%, 14%)
}
.footer-elements .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.footer-elements .mid {
    display: flex;
    justify-content: center;
    gap: 45px;
    line-height: 25px;
}

.icon img {
    width: 25px;
    height: 25px;
}

  



